#calculadora {
    font-family: "Open Sans";
    display: block;
    margin: 0 auto;
    /* //border: 1px solid red; */
    width: 50%;
    border-radius: 8px;
    background: #002843;
    width: 300px;
    /* //height: 400px; */
    padding: 18px;
    box-sizing: content-box;
}

#h1_new {
    font-family: "Open Sans";
    font-size: 14pt;
    text-align: center;
    margin-top: 0px;
    color: #FFF;
    width: 100%;
}

.conteudo {
    margin: 0 auto;
    /* //border: 1px solid blue; */
    width: 80%;
    background: #2c88c5;
    border-radius: 8px;
    padding: 32px;
}

.conteudo2 {
    margin: 0 auto;
    /* //border: 1px solid blue; */
    width: 90%;
    background: #FFF;
    margin-top: 16px;
    border-radius: 8px;
    padding: 16px;
    height: 40px;
    font-weight: bold;
}

#paragrafo_resposta {
    font-size: 14pt;
}

.paragrafo_resposta {
    margin: 0 0;
    line-height: 1;
    font-size: 12pt;
}

.paragrafo_respostaTxt {
    margin: 0 0;
    line-height: 1;
    font-size: 14pt;
    text-transform: uppercase;
}

#paragrafo_indice_de_saturacao {
    font-size: 12pt;
    display: inline;
}

.label_todos {
    position: relative;
    top: 4px;
    color: #FFF;
    /* //border: 1px solid red; */
    line-height: 1.8;
    margin-left: 4px;
}

.input_todos {
    outline: none;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 15px;
    padding: 6px;
    background: #FFF;
    color: #00192a;
    font-size: 12pt;
    font-family: "Open Sans";
    /* //border:1px solid blue; */
    box-sizing: content-box;
}

#input_temperatura {
    height: 20px;
    padding-top: 2px;
    /* //border:1px solid red; */
    width: 100%;
}

.cor-verde {
    color: green;
}

.cor-violeta {
    color: violet;
}

.cor-vermelha {
    color: red;
}


/* Alerta Erro
----------------------------------------------- */


/* Geral */

.alerta {
    padding: 25px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px;
    font-size: 18px;
    font-family: "Open Sans";
}

.error {
    border-color: #e8273b;
    color: #FFF;
    background-color: #ed5565;
    font-family: "Open Sans";
}

.sucesso {
    border-color: #87c940;
    color: #FFF;
    background-color: #a0d468;
    font-family: "Open Sans";
}

.atencao {
    border-color: #f4a911;
    color: #FFF;
    background-color: #f6bb42;
    font-family: "Open Sans";
}

.info {
    border-color: #2f80e7;
    color: #FFF;
    background-color: #5d9cec;
    font-family: "Open Sans";
}


/* Fim Alerta Erro ----------------------------------------------- */

.error_input {
    font-size: 8pt;
    color: red;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.fonte-pequena {
    font-size: 9pt;
    line-height: 1.2;
}

.fonte-14 {
    font-size: 14pt;
}

.background-red {
    background: rgba(226, 17, 0, 0.8);
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    #calculadora {
        width: 100%;
        padding: 18px 0px;
        vertical-align: baseline;
        box-sizing: content-box;
    }
}